<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>netmnt</vendor>

  <action id="org.netmnt.mount">
    <description>Mount a network share</description>
    <message>Authentication is required to mount a network share</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <!-- the active local user mounts session shares without a prompt;
           persistent mounts (org.netmnt.mount-persistent) still need admin auth -->
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="org.netmnt.mount-persistent">
    <description>Create a persistent network mount</description>
    <message>Authentication is required to create a persistent network mount</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <action id="org.netmnt.unmount">
    <description>Unmount a network share</description>
    <message>Authentication is required to unmount a network share</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
</policyconfig>
